@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container {
    width: 100%;
    align-items: flex-end;
    background: white;
    overflow-y: scroll;
    min-width: min-content;
    font-family: 'Montserrat', sans-serif;
}

.content {
    padding: 1em  ;
    padding-top : 4em  ;
}

.github {
    position: relative;
    a {
        position: absolute;
        right: 0;
        margin: 1em;
    }
}

